
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body{
    font-family: 'Roboto', sans-serif !important;
}

ul{
    list-style: none;
    margin: 0;
    padding : 0;
}


.logo{
    height:43px
}

.nav-brand{
    font-size: 27px;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
}

.nav-item a{
    color: gray !important;
    font-size: 16px;
    padding: 0 10px;
    font-weight: 600;
}

.display-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item{
    padding: 0 10px;

}

.signin-image{
    height: 390px;
    border: 25ps solid white;
    border-radius: 5px ;
    box-shadow: 1px 1px 5px gray;
}

input:focus , textarea:focus{
    outline: none !important;
}

.cursor-pointer{
    cursor: pointer;
}

.jumbotron{
    background-color: white;
}

/* index page */

.home-wrap{
    background-color: rgb(31,30,30);
}

.g-top{
    height: 90vh;
    position: relative;
}

.video-wrap{
    height: 600px;
}

.video-wrap > *{
    /* flex : flex-grow flex-shrink flex-basis */
    flex :  1 1 250;
    border: 1px solid white;
}

.g-top-left{
    position: relative;
    right: 0;
    height: 8vh;
    top: 0;
    border-bottom-right-radius: 10px;
}
.top-left-participant-wrap{
    position: relative;
}

.cursor-pointer{
    cursor: pointer;
    padding: 5px;
}

.cursor-pointer:hover{
    cursor: pointer;
    padding: 5px;
    background-color: rgb(226,225,225);
    border-radius: 5px;
}
.top-left-participant-count{ 
    position: absolute;
    top:-2px;
    right: -3px;
    font-size: 15px;

}

.g-bottom{
    /* margin: 0 -10px !important; */
    padding: 0 20px;
    box-shadow: 0 0 5px black;
    z-index: 2;
}

.bottom-left{
    position: relative;
    padding: 5px;
}

.action-icon-style{
    height: 40px;
    width: 40px;
    border: 1px solid rgb(169, 179, 189);
    border-radius: 50%;
    font-size: 8px !important ;
}
.action-icon-style span.material-icons{

}

.end-call-wrap{
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}